/* src/index.css */
/* body {
  font-family: 'Roboto', sans-serif;  
  background-color: #262831;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

input {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
} */

/* #root {
  height: 100vh;
} */
